/*font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;*/

:root {
  --branding-color: /*#5e89ef;*/#49CCCE;
  --main-color: #142d4c;
  --second-main-color: #385170;
  --main-font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--main-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}
h1 {
  font-size: 66px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
h2 {
  font-size: 55px;
}
p {
  font-weight: normal;
  color: var(--second-main-color);
  font-size: 16px;
  line-height: 25px;
}
.greetings {
  background-color: #f2f7ff;
  text-align: center;
  padding: 80px 15px;
}
.greetings p {
  font-size: 36px;
  margin: 0;
}
.greetings h2 {
  font-size: 24px;
  line-height: 2;
  color: var(--second-main-color);
}

.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 40px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font: optional;
  font-weight: bold;
}
.content h3 {
  font-size: 20px;
  line-height: 1.5;
}

.content {
  margin: 30px;
}
.content p {
  font-size: 14px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px;
}
.btn-branding-new {
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 10px;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px;
}
.project-description {
  padding: 100px 60px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: var(--main-color);
  transition: all 80ms ease-in-out;
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 16px;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .greetings {
    padding: 80px 20px;
  }
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
  h2 {
    font-size: 35px;
  }
  about-page {
    text-align: center;
    padding: 0;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
